@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#171738, #3423a6);
    color: #dff3e4;
}

#loginForm {
    background-color: #171738;
    border-radius: 15px;
    padding: 20px;
}

/* Mnogo pozdravi na chatgpt :) */
#chatContainer {
    flex-direction: column-reverse;
    height: 80vh; /* Set the height of the chat container */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin-bottom: 20px;
    border-radius: 15px;
}

.chatMessage {
    background-color: #171738;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    margin: 5px;
}

.chatMessage #avatar {
    margin-right: 15px;
}

.chatMessage #content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
}

.chatMessage #nickname {
    font-weight: bold;
}

label {
    font-style: italic;
}

Button,
Input,
h1 {
    margin-bottom: 20px;
}

.Button:hover {
    transform: translateY(-2px);
}

h1 {
    font-size: 75px;
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

#chatInput {
    display: flex;
    width: 90vw;
    position: fixed;
    left: 5vw;
    bottom: 0px;
}

ul {
    list-style: none;
}
