@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#171738, #3423a6);
    color: #dff3e4;
}

#loginForm {
    background-color: #171738;
    border-radius: 15px;
    padding: 20px;
}

label {
    font-style: italic;
}

Button,
Input,
h1 {
    margin-bottom: 20px;
}

h1 {
    font-family: "Indie Flower", cursive;
    font-size: 75px;
}

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}
